.firstname_wrapper {
  display: flex;
  border: 2pt solid gray;
}

.firstname_wrapper .firstname_data {
  outline: none;

}

.firstname_wrapper:focus {
  border: 2pt solid blue;
}

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: .01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 65px !important;
  /* margin-left: 30px; */
  /* border: 0; */
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 300px;
  outline: none;
}

.react-tel-input .selected-flag .arrow {
  position: relative;
  top: 50%;
  margin-top: -2px;
  left: 20px;
  width: 8px !important;
  height: 5px !important;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}


.react-tel-input .flag {
  width: 17px !important;
  margin-left: 5px !important;
  height: 13px !important;
}

.links {
  /* font-size: 14px; */
  margin-top: 10px;
}

.arrow_icon {
  margin-top: 10px;
  /* font-size: 20px; */
}

.dropdowns:hover {
  color: #60a5fa;
}

.accordion-header button:hover {
  color: rgb(110, 110, 223) !important;

}

.accordion-header button p .sami_filed {
  color: red;
  font-weight: 600;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer_text {
  margin-left: 20px;
}

.footer .footer_social {

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_social span {
  margin-left: 10px;
  border: 1pt solid white;
  width: 32px;
  padding: 5px 6px;
  height: 32px;
  align-items: center;
  border-radius: 20px;


}

.footer_social span:hover {
  background-color: #60a5fa;
  cursor: pointer;
  border: 1pt solid #60a5fa;
}

.footer_social .linkd_in:hover {
  background-color: #0E76A8;
  border-color: #0E76A8;
}

.footer_social .facebok:hover {
  background-color: #4267B2;
  border-color: #0E76A8;

}

.footer_social .insta:hover {
  background-color: #E1306C;
  border-color: #E1306C;

}

.footer_social .twitter:hover {
  background-color: #0E76A8;
  border-color: #0E76A8;

}

.footer_social span svg {
  font-size: 18px;
}




/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

  .dropdowns {
    display: flex;
    justify-content: center;
  }

  .links {
    font-size: 13.5px;
  }


  .dropdowns .arrow_icon {
    /* margin-top: 10px; */
    font-size: 15px;
    margin-left: 5px;
  }


  .city_group_hide {
    display: none;
  }

  .postion_show {
    display: block;
  }

  .position_hide {
    display: none;
  }

  .city_group_show {
    display: block;
  }

  .email_hide {
    display: none;
  }

  .thirdname_show {
    display: block;
  }

  .email_show {
    display: block;
  }

  .thirdname_hide {
    display: none;
  }

  .footer .footer_text {
    margin: 0px;
  }

  .footer_social {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
  }

  .footer_social span {
    display: flex;
  }

  .footer {
    display: block;
  }

  .footer .footer_text {
    margin-left: 5px;
  }


  /* .date_picker{
    width: 21.1vh;
  } */
}

@media only screen and (width : 540px) {
  .dropdowns {
    display: flex;
    justify-content: center;
  }


  .dropdowns .arrow_icon {
    /* margin-top: 10px; */
    font-size: 20px;
    margin-left: 5px;
  }


  .date_picker {
    width: 35vh;
  }

  .links {
    font-size: 14px;
  }

  .arrow_icon {
    margin-top: 15px;
    font-size: 20px;
  }

  .city_group_hide {
    display: none;
  }

  .postion_show {
    display: block;
  }

  .position_hide {
    display: none;
  }

  .city_group_show {
    display: block;
  }

  .footer {
    display: block;
  }

  .footer .footer_text {
    margin-left: 5px;
  }


}

@media only screen and (width : 820px) {

  .dropdowns {
    display: flex;
    justify-content: center;
  }


  .dropdowns .arrow_icon {
    /* margin-top: 10px; */
    font-size: 20px;
    margin-left: 5px;
  }


  .date_picker {
    width: 28vh;
  }

  .city_group_hide {
    display: none;
  }

  .postion_show {
    display: block;
  }

  .position_hide {
    display: none;
  }

  .city_group_show {
    display: block;
  }

  .email_hide {
    display: none;
  }

  .thirdname_show {
    display: block;
  }

  .email_show {
    display: block;
  }

  .thirdname_hide {
    display: none;
  }

  .footer {
    display: block;
  }

  .footer .footer_text {
    margin-left: 5px;
  }

}

@media only screen and (width : 768px) {

  .dropdowns {
    display: flex;
    justify-content: center;
  }


  .dropdowns .arrow_icon {
    /* margin-top: 10px; */
    font-size: 20px;
    margin-left: 5px;
  }

  .date_picker {
    width: 30vh;
  }

  .city_group_hide {
    display: none;
  }

  .postion_show {
    display: block;
  }

  .position_hide {
    display: none;
  }

  .city_group_show {
    display: block;
  }

  .email_hide {
    display: none;
  }

  .thirdname_show {
    display: block;
  }

  .email_show {
    display: block;
  }

  .thirdname_hide {
    display: none;
  }

  .footer_social {
    margin-top: 5px;
  }

  .footer_social span {
    width: 30px;
    height: 30px;
  }

  .footer_social span svg {
    font-size: 15px;
  }

  .footer {
    display: block;
  }

  .footer .footer_text {
    margin-left: 10px;
  }

}

@media only screen and (width : 912px) {

  .dropdowns {
    display: flex;
    justify-content: center;
  }


  .dropdowns .arrow_icon {
    /* margin-top: 10px; */
    font-size: 20px;
    margin-left: 5px;
  }

  .date_picker {
    width: 27vh;
  }

  .city_group_hide {
    display: none;
  }

  .postion_show {
    display: block;
  }

  .position_hide {
    display: none;
  }

  .city_group_show {
    display: block;
  }

  .email_hide {
    display: none;
  }

  .thirdname_show {
    display: block;
  }

  .email_show {
    display: block;
  }

  .thirdname_hide {
    display: none;
  }

  .footer {
    display: block;
  }

  .footer .footer_text {
    margin-left: 10px;
  }


}

@media (min-width: 992px) and (max-width : 1300px) {
  .city_group_hide {
    display: block;
  }

  .postion_show {
    display: none;
  }

  .position_hide {
    display: block;
  }

  .city_group_show {
    display: none;
  }

  .email_hide {
    display: block;
  }

  .thirdname_show {
    display: none;
  }

  .email_show {
    display: none;
  }

  .thirdname_hide {
    display: block;
  }


}




@media (min-width: 1200px) {
  .city_group_hide {
    display: block;
  }

  .postion_show {
    display: none;
  }

  .position_hide {
    display: block;
  }

  .city_group_show {
    display: none;
  }

  .email_hide {
    display: block;
  }

  .thirdname_show {
    display: none;
  }

  .email_show {
    display: none;
  }

  .thirdname_hide {
    display: block;
  }


}





/* @media (max-width: 992px) {
  .date_picker {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .date_picker {
    width: 305px;
  }
} */