.firstname_wrapper {
  display: flex;
  border: 2pt solid gray;
}

.firstname_wrapper .firstname_data {
  outline: none;

}

.firstname_wrapper:focus{
  border: 2pt solid blue;
}

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: .01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 65px !important;
  /* margin-left: 30px; */
  /* border: 0; */
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 300px;
  outline: none;
}

.react-tel-input .flag {
  width: 16px;
  margin-left: 14px;
  height: 11px;
}

.links {
  /* font-size: 14px; */
  margin-top: 10px;
}

.arrow_icon {
  margin-top: 10px;
  /* font-size: 20px; */
}

.dropdowns:hover {
  color: #60a5fa;
}

.accordion-header button:hover  {
  color: rgb(110, 110, 223) !important;

}

.accordion-header button p .sami_filed {
  color: red;
  font-weight: 600;
}



/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {


  /* .date_picker{
    width: 21.1vh;
  } */
}

@media only screen and (width : 540px) {
  .date_picker {
    width: 35vh;
  }

  .links {
    font-size: 14px;
  }

  .arrow_icon {
    margin-top: 15px;
    font-size: 20px;
  }
}

@media only screen and (width : 820px) {
  .date_picker {
    width: 28vh;
  }
}

@media only screen and (width : 768px) {
  .date_picker {
    width: 30vh;
  }
}

@media only screen and (width : 912px) {
  .date_picker {
    width: 27vh;
  }
}




/* @media (max-width: 992px) {
  .date_picker {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .date_picker {
    width: 305px;
  }
} */